.container {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
}

.containerForFooter {
  display: grid;
  gap: 10px;
  justify-items: start;
  justify-self: start;
}

.containerForFooter[data-is-mobile="false"] {
  align-items: end;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  margin-block-start: 0.5em;
  margin-block-end: 1em;
}

.customButtonBase {
  background-color: transparent;
  border-color: currentcolor;
  border-image: none;
  border-style: none;
  border-width: medium;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font: inherit;
  outline-offset: 2px;
  padding: 0;
}
