.container {
  --correctColorFg: var(--ifm-color-success);
  --correctColorBg: var(--ifm-color-success-contrast-background);
  --wrongColorBg: var(--ifm-color-warning-contrast-background);
  --wrongColorFg: var(--ifm-color-warning);
  display: grid;
  margin-block: 1rem 2rem;
}

[data-theme="light"] .container {
  --wrongColorFg: var(--ifm-color-warning-darkest);
}

.header {
  display: grid;
  justify-items: end;
  margin-inline: 0.5rem;
  padding-block-end: 1rem;
}

.question {
  margin: 0;
  padding: 0;
}

.choiceList {
  display: grid;
  justify-items: start;
  list-style: none;
  gap: 0.25rem;
  margin: 0;
  margin-block-start: 0.5rem;
  padding: 0;
}

.choiceItem {
  display: grid;
}

.choiceItem > input {
  display: none;
}

.choiceItem > label {
  align-items: center;
  background-color: #80808020;
  border-radius: 10px;
  border: solid 2px #80808020;
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
  padding-inline: 0.75rem 1rem;
  padding-block: 0.35rem;
  position: relative;
}

.choiceItem > input:checked + label::before {
  --fillColor: var(--ifm-color-primary);
  background-image: radial-gradient(var(--fillColor) 50%, transparent 51%);
  border-color: var(--fillColor);
}

.choiceItem > label::after {
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.choiceItem > label:hover::after {
  background-color: #80808030;
}

.choiceItem > label:active::after {
  background-color: #80808040;
}

.choiceItem > label::before {
  --size: 20px;
  aspect-ratio: 1;
  border: solid 2px #80808080;
  border-radius: var(--size);
  content: " ";
  display: grid;
  margin-inline-end: 0.5rem;
  height: var(--size);
}

[data-correct="true"] .choiceItem:has(input:checked) > label {
  background-color: var(--correctColorBg);
  border-color: var(--correctColorFg);
  color: var(--correctColorFg);
}

[data-correct="true"] .choiceItem > input:checked + label::before {
  --fillColor: var(--correctColorFg);
  background-image: radial-gradient(var(--fillColor) 50%, transparent 51%);
  border-color: var(--fillColor);
}

[data-correct="false"] .choiceItem:has(input:checked) > label {
  background-color: var(--wrongColorBg);
  border-color: var(--wrongColorFg);
  color: var(--wrongColorFg);
}

[data-correct="false"] .choiceItem > input:checked + label::before {
  --fillColor: var(--wrongColorFg);
  background-image: radial-gradient(var(--fillColor) 50%, transparent 51%);
  border-color: var(--fillColor);
}

.explanation {
  background-color: #80808040;
  border: solid 1px transparent;
  border-radius: 7px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: column;
  gap: 0.5rem;
  justify-self: start;
  margin-top: 1rem;
  overflow: bre;
  padding: 0.5rem 0.75rem;
  padding-inline-end: 1rem;
}

[data-correct="true"] .explanation {
  background-color: var(--correctColorBg);
  border-color: var(--correctColorFg);
  color: var(--correctColorFg);
}

[data-correct="false"] .explanation {
  background-color: var(--wrongColorBg);
  border-color: var(--wrongColorFg);
  color: var(--wrongColorFg);
}

.explanation > svg {
  margin-block-start: 0.25em;
}

.footer {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  margin-inline: 0.5rem;
}

.totalScore {
  font-size: 16pt;
  justify-self: start;
}
