.list {
  display: grid;
  justify-items: start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list > li {
  display: grid;
}

.list > li > label {
  align-items: center;
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: column;
}
